Repository DIT113-V22/group-13, pull requests merged in 2022-05, with the labels that each got.

#60 15 car control application refinementui improvement
  CarControl/app/build.gradle
  CarControl/app/src/main/AndroidManifest.xml
  CarControl/app/src/main/java/com/code/carcontrol/Game.java
  CarControl/app/src/main/java/com/code/carcontrol/GameLoop.java
  CarControl/app/src/main/java/com/code/carcontrol/Joystick.java
  CarControl/app/src/main/java/com/code/carcontrol/MainActivity.java
  CarControl/app/src/main/java/com/code/carcontrol/MqttClient.java
  CarControl/app/src/main/res/layout/activity_main.xml
  CarControl/gradle.properties
  arduino/MQTT_Joystick_Car/MQTT_Joystick_Car.ino
Labels: User story, Sprint #2, Android

#70 #44 prevent falling off cliffs
  .DS_Store
  CarControl/app/src/main/java/com/code/carcontrol/Joystick.java
  CarControl/app/src/main/java/com/code/carcontrol/MainActivity.java
  arduino/.DS_Store
  arduino/MQTT_Joystick_Car/MQTT_Joystick_Car.ino
  arduino/MQTT_Joystick_Car/board_config.json
  arduino/MQTT_Joystick_Car/vehicle_config.json
Labels: Sprint #2, Arduino

#73 add path finding buttons and functionality
  CarControl/app/src/main/java/com/code/carcontrol/MainActivity.java
  CarControl/app/src/main/res/layout/activity_main.xml
  arduino/MQTT_Joystick_Car/MQTT_Joystick_Car.ino
Labels: User story, Sprint #2, Android, Arduino

#76 Remove distracting elements
  CarControl/app/src/main/java/com/code/carcontrol/Game.java
  CarControl/app/src/main/res/layout/activity_main.xml
  CarControl/app/src/main/res/values/colors.xml
  CarControl/app/src/main/res/values/themes.xml
Labels: enhancement, User story, Sprint #3, Android

#86 #81 Logo design
  misc/snaildrive.png
  misc/snaildrive_round.png
Labels: documentation, User story, Sprint #4

#89 #78 User manual
  .DS_Store
  Documentation/.DS_Store
  Documentation/LICENSE
  Documentation/User-Manual.MD
  Documentation/images/Application.png
  Documentation/images/Map.png
Labels: documentation, User story, Sprint #4

#93 #92 Add CI for instrumented test
  .github/workflows/Android-Build-And-Test.yml
Labels: CI, Android, Unit test

#90 #79 installation guide
  Documentation/InstallationGuide.MD
  Documentation/User-Manual.MD
  Documentation/images/carSensors.png
  Documentation/images/moresensors.png
  Documentation/images/sensors.png
Labels: documentation, User story, Sprint #4

#97 #80 Refine joystick implementation and #85 Java code clean up
  CarControl/app/src/androidTest/java/espresso/EspressoUITest.java
  CarControl/app/src/main/java/com/code/carcontrol/Game.java
  CarControl/app/src/main/java/com/code/carcontrol/GameLoop.java
  CarControl/app/src/main/java/com/code/carcontrol/Joystick.java
  CarControl/app/src/main/java/com/code/carcontrol/MainActivity.java
  CarControl/app/src/main/res/layout/activity_main.xml
Labels: enhancement, User story, Android, Sprint #4

#98 #79 Update controller image for user manual
  Documentation/images/Application.png
Labels: documentation, Sprint #4

#99 #85 Code refinement and clean up
  CarControl/app/src/main/java/com/code/carcontrol/MainActivity.java
  arduino/MQTT_Joystick_Car/MQTT_Joystick_Car.ino
Labels: enhancement, Arduino, Sprint #4

#102 #100 update user manual
  Documentation/User-Manual.MD
Labels: documentation, Sprint #4

#105 #103 Clean up Arduino code
  CarControl/app/src/androidTest/java/com/code/carcontrol/ExampleInstrumentedTest.java
  CarControl/app/src/androidTest/java/espresso/EspressoUITest.java
  arduino/MQTT_Joystick_Car/MQTT_Joystick_Car.ino
Labels: enhancement, Arduino, Sprint #4

#110 #84 Finalize README.md
  README.md
Labels: documentation, enhancement, User story, Sprint #4
